<%- include('partials/_header')-%>
    <body id="page-top">
        <!-- Navigation-->
        
        <%- include('partials/_navigation')-%>
        <!-- Masthead-->
      
        
        <%- include('partials/_footer')-%>
    </body>
</html>
